<div class="home">
  <div class="header">
    <h1>Compradores</h1>
  </div>
  <div id="content">
    <div class="section filters">
      
    </div>
    <div class="section">
      <table id="buyers">
        <tr class="theaders">
          <th><i class="fa fa-flag"></i>País</th>
          <th><i class="fa fa-recycle"></i>Materiales</th>
          <th><i class="fa fa-industry-windows"></i>Compradores</th>
          <th><i class="fa fa-clipboard-list-check"></i>Req. Empresa</th>
          <th><i class="fa fa-building-columns"></i>Req. País</th>
          <th><i class="fa fa-traffic-light"></i>Semáforo</th>
          <th></th>
        </tr>
        <% @countries.each do |c| %>
        <tr class="country">
          <td class="name"><%= link_to c[:name], buyer_path(c[:id]), target: '_blank' %></td>
          <td class="materials"><%= c[:materials] %></td>
          <td class="bcont"><%= c[:buyers].count %></td>
          <td class="breq"><%= c[:buyers_requirements] %></td>
          <td class="req"><%= c[:requirements] %></td>
          <td class="semaphore"><%= c[:semaphore] %></td>
          <td class="action">Ver compradores ></td>
        </tr>
          <% c[:buyers].each do |b| %>
            <tr class="buyers">
              <td class="name"><%= link_to b[:name], buyer_path(b[:id]), target: '_blank' %></td>
              <td class="materials"><%= b[:materials] %></td>
              <td class="btype"><%= b[:btype] %></td>
              <td class="breq"><%= b[:requirements].count %></td>
              <td class="creq"><%= c[:requirements] %></td>
              <td class="semaphore"><%= b[:semaphore] %></td>
              <td class="action">Ver requerimientos ></td>
            </tr>
            <% b[:requirements].each do |r| %>
              <tr class="requirements">
                <td class=""></td>
                <td class="materials"><%= r[:material] %></td>
                <td class=""></td>
                <td class="rcat"><%= r[:category] %></td>
                <td class=""></td>
                <td class="semaphore"><%= r[:semaphore] %></td>
                <td class=""></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>  
      </table>
    </div>
  </div>
</div> 
