<table id="prices">
  <tr class="theaders">
    <th><i class="fa fa-flag"></i>País</th>
    <% @materials.each do |m| %>
    <th><i class="fa fa-recycle"></i><%= m.name %></th>
    <% end %>
  </tr>
  <% @countries.each do |c| %>
  <tr>
    <td class="name"><%= c.name %></td>
    <% @materials.each do |m| %>
    <td>
      <% price = Price.where(buyer_id: c.id, material_id: m.id ).first %>
      <% if price.present? %>
      <div class="price-cell">
        <div class="price-head">
          <% if price.value.present? %>
          <b><%= "#{price.value} USD" %></b>
          <% end %>
          <% if price.min_value.present? || price.max_value.present? %>
          <span><%= price.min_value.present? ? "#{price.min_value} USD" : '' %> - <%= price.max_value.present? ? "#{price.max_value} USD" : '' %></span>
          <% end %>
        </div>
        <% if price.source.present? || price.description.present? %>
          <div class="price-action">
            <button class="info-tooltip" onclick="loadTooltip(event)"><i class="fas fa-circle-info"></i></button>
            <div class="tooltip">
              <b><%= price.description.present? ? "#{price.description}" : '' %></b>
              <span><%= price.source.present? ? "#{price.source}" : '' %></span>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<script>
function loadTooltip(e) {
  let tooltip = e.target.closest('.price-action').querySelector('.tooltip')
  let activate = false
  if ( !tooltip.classList.contains('active') ) {
    activate = true
  }
  document.querySelectorAll('.tooltip').forEach((tt) => {
    tt.classList.remove('active')
  })
  if ( activate ) {
    tooltip.classList.add('active')
  }
}
</script>